<div class="public-layout">
    <header>
        <div class="content-web">
            <span>IC TIENDA</span>
            <ul class="menu">
                <li>
                    <a routerLink="/">Home</a>
                    <a routerLink="/productos">Juegos</a>
                    <a href="#">Accesorios</a>
                    <a href="#">Juega con nosotros</a>
                </li>
            </ul>
            <div>
                <span> carrito </span>
                <span> usuario </span>
            </div>
        </div>
    </header>
    <section class="content">
        <div class="content-web">
            <router-outlet/>
        </div>
    </section>
</div>